.tour-card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 5px rgba(157, 157, 157, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 290px;
  height: 100%;
  overflow: hidden;
  justify-self: center;

  .tour-card__image {
    width: 100%;
    height: 200px;
    min-height: 200px;
    overflow: hidden;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .price {
      background-color: var(--primary-color);
      color: #fff;
      font-size: 13px;
      font-weight: bold;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 7px;
      border-radius: 0 10px 0 0;
      user-select: none;
    }
  }

  .tour-card__main {
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .tour-card__info {
      width: 100%;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .tour-card__title {
        font-weight: bold;
        // padding-bottom: 10px;
        line-height: 1.3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        cursor: pointer;

        &:hover {
          color: var(--third-color);
        }
      }

      .tour-card-item {
        padding: 5px 0;

        .text {
          font-size: 14px;
          color: var(--font-color);
          font-style: italic;
          // line-height: 1.3;

          .tour-card__subtitle {
            // display: inline-flex;
            // align-items: center;
            margin-right: 5px;

            svg {
              margin-right: 5px;
              vertical-align: middle;
            }
          }

          .content {
            font-weight: bold;
            font-style: normal;
            line-height: 1.3;
          }

          .content.available-seats {
            color: var(--primary-color);
          }
        }
      }
    }

    .tour-card__action {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 5px;

      .action_item {
        background-color: var(--secondary-color);
        color: #fff;
        width: fit-content;
        height: 30px;
        border-radius: 5px;
        overflow: hidden;
        transition: all 0.1s linear;

        button {
          background-color: inherit;
          width: 100%;
          height: 100%;
          border: none;
          color: inherit;
          cursor: pointer;
        }
      }
      .action_item.booking:hover {
        background-color: var(--primary-color);
      }
      .action_item.detail {
        border: 1px solid var(--third-color);
        background-color: #fff;
        color: var(--third-color);

        &:hover {
          background-color: var(--third-color);
          color: #fff;
        }
      }
    }
  }
}
