<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Hủy thanh toán</title>
</head>
<body>
<div class="body py-5">
    <div class="container">
        <div class="w-50 m-auto d-flex flex-column justify-content-center">
            <h1 class="my-3 text-danger text-center">Bạn đã hủy thanh toán!</h1>
            <a href="http://localhost:3000" class="btn btn-primary">Về trang chủ</a>
        </div>
    </div>
</div>
</body>
</html>